---
interface Props {
  category: string;
  ClassName?: string;
}

const { category, className } = Astro.props
---

<section class={className}>
  <h2 class="text-2xl font-semibold text-left">{category}</h2>
  <div class="grid gap-y-2">
    <slot />
  </div>
</section>
