---
interface Props {
  price: number;
  name: string;  
  className?: string;
  isSpecial?: boolean;
}

const { price, name, className, isSpecial } = Astro.props
---

<h3 
  class:list={["flex flex-row items-center justify-between text-2xl font-bold rounded-full pl-4 w-full h-18", className, isSpecial ? "bg-quaternary border-3 border-next-quaternary text-black" : "bg-secondary text-gray-200"]}
  title={name}
>
  {name}
  <span 
    class:list={["text-2xl font-bold rounded-full h-full text-center flex items-center justify-center px-6 py-4", isSpecial ? "bg-[#f3a505] text-gray-200" : "bg-tertiary"]}
  >
    
    ${
      isSpecial ? Math.ceil(price / 2) : price
    }
  </span>
</h3>
