---
interface Props {
  price: number;
  name: string;  
}

const { price, name } = Astro.props
---

<div class="flex flex-rows w-full items-center border-collapse">
  <h2 class="text-2xl font-bold bg-gray-300 rounded-2xl px-4 py-2 w-full">{name}</h2>
  <p class="text-2xl font-bold bg-gray-200 rounded-2xl h-full text-center flex items-center justify-center px-4 py-2">${price}</p>
</div>
