---
import Foods from '@components/Foods.astro'
import Categories from '@components/Categories.astro'
---

<section class="grid grid-cols-3 gap-x-8 gap-y-4 mx-auto border-3 bg-amber-200 border-gray-200 rounded-lg px-8 py-4">
  <Categories category="Principal" className="col-span-2">
    <Foods name="Pizza a la italiana" price={10} />
    <Foods name="Hamburguesa mortal" price={25} />
    <Foods name="Mega tacos gigantes" price={15} />
  </Categories>
  <div class="flex flex-col gap-y-6">
    <Categories category="Cosas del mar">
      <Foods name="Camarones" price={20} />
      <Foods name="Rabas" price={25} />
    </Categories>    
    <Categories category="Acompañamientos" className="col-start-3 row-start-1">
      <Foods name="Ensalada Rusa" price={13} />
      <Foods name="Ensalada rejuvenecedora de caderas" price={30} />	
    </Categories>
  </div>
</section>
